{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">

<div>
    <table class ="chat-display">
        <thead>
            <th class ="rec-left">
                <table class ="chat-option" >
                    <thead>
                        <th class ="chat-bar">All</th>
                        <th class ="chat-bar">Posted</th>
                        <th class ="chat-bar">Received </th>
                    </thead>
                </table>
            </th>
            <th class ="rec-right"> </th>
        </thead>
    </table>
</div>

{% endblock %}


        
