{% extends 'home/main.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loged_in_index.css' %}">


<div class =" newsfeed ">Newsfeed
<br>
<br>
<div class ="offer" > 
    <img class ="offer-image" src ="{% static "images\jinx.jpg" %}"><a class ="offer" href = "{% url 'offers:offer1' %}">Offer1</a>
        <div class ="desc" >Description offer 1</div>
</div>
<div class ="offer" > 
    <img class ="offer-image" src ="{% static "images\vi.jpg" %}"><a class ="offer" href ="{% url 'offers:offer2' %}">Offer2</a>
        <div class ="desc" >Description offer 2</div>
</div>
<div class ="offer" > 
    <img class ="offer-image" src ="{% static "images\jayce.jpeg" %}"><a class ="offer" href ="{% url 'offers:offer3' %}">Offer3</a>
        <div class ="desc" >Description offer 3</div>
</div>
</div>
<div class ="games-container">Games
<br>
<br>
<div class ="games">
    <img class ="game-image" src ="{% static "images\Decentraland.jpg" %}"><a class ="games" href ="{% url 'games:decentraland' %}"> Decentraland</a>
</div>
<div class ="games">
    <img class ="game-image" src ="{% static "images\axie-infinity.jpg" %}"><a class ="games" href ="{% url 'games:axieinfinity' %}"> Axie Infinity</a>
</div >
<div>
    <img class ="game-image" src ="{% static "images\Alien-world.png" %}"><a class ="games" href ="{% url 'games:alienworld' %}"> Alien World</a>
</div>

{% endblock %}
            
                  
