{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<div class="login masthead bg-white">
    <div class="container">
        <div class="login-card text-secondary ">
            <div class="form-title">
                <h1>Login</h1>
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
                <!--Fix the form when shrink-->
                <form action="{% url 'home:login' %}" method="post">
                    {% csrf_token %}
                <div class ="form-group">
                    {{login_form.username}}
                </div>
                <div class ="form-group">
                    {{login_form.password}}                   
                </div>
                <div class="login-submit text-center">
                    <input class="btn btn-info" type="submit" value="Login">
                </div>
                {% for message in messages %}
                    <p class= "error_message">{{message}}</p>
                {% endfor %}
                <div class="no-account text-center ">
                    <p>Don't have an account yet? Let's Signup!</p>
                    <a href ="{% url 'home:signup' %}">Signup</a> 
                </div>
                <br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


