{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/posting.css' %}">

<div class ="container">
    <h1 style = "margin: 10px 100px" >Requirement</h1>
    <form action="{% url 'home:posting'  %}" method="POST">
        {% csrf_token %}
        <div class ="form-group">
            {{ form.game}}
        </div>
        <br>
        <div class ="form-group">
            {{ form.required_time}}
        </div>
        <br>
        <div class ="form-group">
            {{ form.required_rank}}                    
        </div>
        <br>
        <div class ="form-group">
            {{ form.reward_ingame}}
        </div>
        <br>                    
        <div class ="form-group">
            {{ form.number_of_recruit_player}}
        </div>
        <br>
        <div class ="form-group">
            {{ form.salary}}
        </div>
        <br>
        <div class ="form-group">
            {{ form.description}}
        </div>
        <br>
        <div class="submit">
            <a class ="btn btn-warning" href="{% url 'home:posts' %} " style ="width :120px;margin: 0px 80px " >Check your post</a>
            <input class ="btn btn-danger" type="submit" value="Submit" style ="width :120px;margin: 0px 80px " >                    
        </div>                
    </form>
</div>



{% endblock %}